
<!-- header -->
<div id="boo">
  <div class="page-header">
    <% if user_signed_in? %>
      <%= link_to new_meeting_path, class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-plus"></span>
        New Meeting
        <% end %>
    <% end %>
<<<<<<< HEAD
    <br><h1> ☕️ Meetings</h1>
=======
    <%= link_to meetings_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon"></span>
      All
    <% end %>
    <%= link_to meetings_path(timerange: 'this month'), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon"></span>
      This Month
    <% end %>
    <%= link_to meetings_path(timerange: 'this week'), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon"></span>
      This Week
    <% end %>
    <%= link_to meetings_path(timerange: 'tomorrow'), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon"></span>
      Tomorrow
    <% end %>
    <%= link_to meetings_path(timerange: 'today'), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon"></span>
      Today
    <% end %>
    <br><h1>Meetings</h1>
>>>>>>> eced27a0dd8c4caf715de966f18fe5620521aeeb
  </div>
</div>

<!-- tables -->
<div class="wrapper">
  <header>Join a New Meeting
      <span class="tableicons"><a href="javascript:void(0)" class="show-list"><i class="fa fa-th-list"></i></a>
        <a href="javascript:void(0)" class="hide-list"><i class="fa fa-th"></i></a></span>
    </header>

    <div class="container">

      <% @meetings.each do |meeting| %>
        <% if meeting.confirm == false && Meeting.all.count != 0 %>
          <div class="box">
            <p><%= meeting.address %></p>
            <p>Time: <%= meeting.time.to_s(:short) %></p>
            <p>Subject: <%= meeting.subject %>
            <p><i class="fa fa-coffee"></i> <%= link_to 'Show', meeting %></p>
            <% if user_signed_in? && current_user.email == meeting.usermeetings.find_by_owner(true).user.email %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
</div>


<div class="wrapper">
 	<header>Meetings Going on Now</header>

    <div class="container">

      <% @meetings.each do |meeting| %>
        <% if meeting.confirm == true && Meeting.all.count != 0 %>
        <div class="box">
        <div class="recipe">

          <div class="image">
              <img src="http://cache.soometa.com/image/257842_kiranatama.com">
              <div class="likes">
                <i class="fa fa fa-plus lv" data-test="pulse"></i>
              </div>

            <div class="name">
              <h3><%= meeting.address %></h3>
            </div>

          </div>

          <ul class="media">
            <li><i class="fa fa-clock-o"></i><%= meeting.time.to_s(:short) %></li>
     		    <li><i class="fa fa-book"></i><%= meeting.subject %></li>
     		    <li><i class="fa fa-users"></i><%= meeting.usermeetings.count %></li>
            <li><i class="fa fa-coffee"></i> <%= link_to 'Show', meeting %></li>
            <% if user_signed_in? && current_user.email == meeting.usermeetings.find_by_owner(true).user.email %>
            <% end %>
          </ul>
        </div>
      </div>
        <% end %>
      <% end %>
    </div>
</div>




<!-- scripts were not working in JS file, so we added it here.  -->
<script>
  $('.show-list').click(function(){
  	$('.wrapper').addClass('list-mode');
  });

  $('.hide-list').click(function(){
  	$('.wrapper').removeClass('list-mode');
  });

</script>
<!-- end -->


<!-- <div id="boo">
  <div class="table-responsive">
  <h2>Suggested Meetings</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th>Address</th>
            <th>Time</th>
            <th>Subject</th>
            <th>Suggested By</th>
            <th></th>
            <% if user_signed_in? %>
              <th></th>
              <th></th>
            <% end %>
        </tr>
      </thead>
      <tbody>
        <%= content_tag_for(:tr, @meetings) do |meeting| %>
          <% if meeting.confirm == false && Meeting.all.count != 0 %>
              <td><%= meeting.address %></td>
              <td><%= meeting.time.to_s(:short) %></td>
              <td><%= meeting.subject %></td>
              <td><%= link_to meeting.usermeetings.find_by_owner(true).user.username, pages_profile_path(username: meeting.usermeetings.find_by_owner(true).user.username) %></td>
              <td><%= link_to 'Show', meeting %></td>
              <% if user_signed_in? && current_user.email == meeting.usermeetings.find_by_owner(true).user.email %>
                <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
                <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>


<br>

<div id="boo">
  <div class="table-responsive">
    <h2>Confirmed Meetings</h2>
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
              <th>Address</th>
              <th>Time</th>
              <th>Subject</th>
              <th>Created By</th>
              <th>Attendees</th>
              <th></th>
              <% if user_signed_in? %>
                <th></th>
                <th></th>
              <% end %>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @meetings) do |meeting| %>
          <% if meeting.confirm == true && Meeting.all.count != 0 %>
              <td><%= meeting.address %></td>
              <td><%= meeting.time.to_s(:short) %></td>
              <td><%= meeting.subject %></td>
              <td><%= link_to meeting.usermeetings.find_by_owner(true).user.username, pages_profile_path(username: meeting.usermeetings.find_by_owner(true).user.username) %></td>
              <td> <%= meeting.usermeetings.count %> </td>
              <td><%= link_to 'Show', meeting %></td>
              <% if user_signed_in? && current_user.email == meeting.usermeetings.find_by_owner(true).user.email %>
                <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
                <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
          <% end %>
        <% end %>
        </tbody>
    </table>
  </div>
<<<<<<< HEAD
</div> -->


<br>
<div style='width: 100%;'>
  <div id="map" style='width: 100%; height: 400px; color: black;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(5);
});
</script>

</br>
