
<!-- header -->
<div id="boo">
  <div class="page-header">
    <!-- only signed in user can create meetings -->
    <% if user_signed_in? %>
      <%= link_to new_meeting_path, class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-plus"></span>
        New Meeting
        <% end %>
    <% end %>

    <!-- internet users can browse meetings by timerange -->

    <%= link_to meetings_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon"></span>
      All
    <% end %>
    <%= link_to meetings_path(timerange: 'this month'), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon"></span>
      This Month
    <% end %>
    <%= link_to meetings_path(timerange: 'this week'), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon"></span>
      This Week
    <% end %>
    <%= link_to meetings_path(timerange: 'tomorrow'), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon"></span>
      Tomorrow
    <% end %>
    <%= link_to meetings_path(timerange: 'today'), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon"></span>
      Today
    <% end %>
    <br><h1>☕️ Meetings</h1>

  </div>
</div>

<!-- tables -->
<div class="wrapper">
  <header>Join a New Meeting
      <span class="tableicons"><a href="javascript:void(0)" class="show-list"><i class="fa fa-th-list"></i></a>
        <a href="javascript:void(0)" class="hide-list"><i class="fa fa-th"></i></a></span>
    </header>

    <div class="container">
      <% @meetings.each do |meeting| %>
      <% if meeting.confirm == false && Meeting.all.count != 0 %>

      <div class="box">

        <div class="recipe">

          <div class="image">
            <%= link_to image_tag(meeting.image(:medium)), meeting %>

            <div class="likes">
            <% if user_signed_in? %>
            <!--not the owner can see join, already join cannot see join -->
              <% if current_user.email != meeting.usermeetings.find_by_owner(true).user.email %>
                <% if meeting.usermeetings.find_by_user_id(current_user.id).nil? %>
                  <!-- < % = link_to meeting_join_meeting_path(@meeting), class: 'btn btn-primary', method: :post do %> -->
                  <%= link_to new_meeting_post_path(meeting) do %>

                    <i class="fa fa fa-plus lv" data-test="pulse"></i>
                  <% end %>
                <% else %>
                <%= link_to new_meeting_post_path(meeting) do %>
                    <i class="fa fa fa-minus lv" data-test="pulse"></i>
                <% end %>
                <% end %>
              <% end %>
            <% end %>
            </div>

          <div class="name">
            <h3><%= meeting.address %></h3>
          </div>

          </div>

          <ul class="media">
            <li><i class="fa fa-clock-o"></i><%= meeting.time.to_s(:short) %></li>
     		    <li><i class="fa fa-book"></i><%= meeting.subject %></li>
     		    <li><i class="fa fa-users"></i><%= meeting.usermeetings.count %></li>

            <% if user_signed_in? && current_user.email == meeting.usermeetings.find_by_owner(true).user.email %>
            <% end %>
          </ul>
        </div>
        <div class="meeting-info">
          <p>Created by: <%= meeting.usermeetings.find_by_owner(true).user.username %></p>
          <% post = Post.where(meeting: meeting.id) %>
          <% post.each do |post_info| %>
            <dd><%= User.find(post_info.user_id).username + "(#{post_info.updated_at.to_s(:short)}): " + post_info.description %></dd>
          <% end %>
        </div>

      </div>

      <% end %>
      <% end %>
    </div>
</div>

<div class="wrapper">
 	<header>Join a Popular Meeting
    <span class="tableicons"><a href="javascript:void(0)" class="show-list"><i class="fa fa-th-list"></i></a>
      <a href="javascript:void(0)" class="hide-list"><i class="fa fa-th"></i></a></span>
  </header>

  <div class="container">
    <% @meetings.each do |meeting| %>
    <% if meeting.confirm == true && Meeting.all.count != 0 %>
    <div class="box">
      <div class="recipe">

        <div class="image">
          <%= link_to image_tag(meeting.image(:medium)), meeting %>

          <div class="likes">
          <% if user_signed_in? %>
          <!--not the owner can see join, already join cannot see join -->
            <% if current_user.email != meeting.usermeetings.find_by_owner(true).user.email %>
              <% if meeting.usermeetings.find_by_user_id(current_user.id).nil? %>
                <!-- < % = link_to meeting_join_meeting_path(@meeting), class: 'btn btn-primary', method: :post do %> -->
                <%= link_to new_meeting_post_path(meeting) do %>

                  <i id="plus" class="fa fa fa-plus lv" data-test="pulse"></i>
                <% end %>
              <% else %>
              <%= link_to new_meeting_post_path(meeting) do %>
                  <i class="fa fa fa-minus lv" data-test="pulse"></i>
              <% end %>
              <% end %>
            <% end %>
          <% end %>
          </div>

        <div class="name">
          <h3><%= meeting.address %></h3>
        </div>

        </div>

        <ul class="media">
          <li><i class="fa fa-clock-o"></i><%= meeting.time.to_s(:short) %></li>
   		    <li><i class="fa fa-book"></i><%= meeting.subject %></li>
   		    <li><i class="fa fa-users"></i><%= meeting.usermeetings.count %></li>

          <% if user_signed_in? && current_user.email == meeting.usermeetings.find_by_owner(true).user.email %>
          <% end %>
        </ul>
      </div>
      <div class="meeting-info">
        <p>Created by: <%= meeting.usermeetings.find_by_owner(true).user.username %></p>
        <% post = Post.where(meeting: meeting.id) %>
        <% post.each do |post_info| %>
          <dd><%= User.find(post_info.user_id).username + "(#{post_info.updated_at.to_s(:short)}): " + post_info.description %></dd>
        <% end %>
        <br/>
        <p>Attendees: |
        <% meeting.usermeetings.each do |meetingx| %>
          <%= meetingx.user.username %> |
        <% end %>
        </p>

      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>


<!-- scripts were not working in JS file, so we added it here.  -->
<script>
  $('.meeting-info').hide();
  $('.show-list').click(function(){
    $('.meeting-info').fadeIn(3000).show(0);
  	$('.wrapper').addClass('list-mode');


  });

  $('.hide-list').click(function(){
    $('.meeting-info').hide(0);
  	$('.wrapper').removeClass('list-mode');
  });

</script>
<!-- end -->


<!-- <div id="boo">
  <div class="table-responsive">
  <h2>Suggested Meetings</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th>Address</th>
            <th>Time</th>
            <th>Subject</th>
            <th>Suggested By</th>
            <th></th>
            <% if user_signed_in? %>
              <th></th>
              <th></th>
            <% end %>
        </tr>
      </thead>
      <tbody>
        <%= content_tag_for(:tr, @meetings) do |meeting| %>
          <% if meeting.confirm == false && Meeting.all.count != 0 %>
              <td><%= meeting.address %></td>
              <td><%= meeting.time.to_s(:short) %></td>
              <td><%= meeting.subject %></td>
              <td><%= link_to meeting.usermeetings.find_by_owner(true).user.username, pages_profile_path(username: meeting.usermeetings.find_by_owner(true).user.username) %></td>
              <td><%= link_to 'Show', meeting %></td>
              <% if user_signed_in? && current_user.email == meeting.usermeetings.find_by_owner(true).user.email %>
                <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
                <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>


<br>

<div id="boo">
  <div class="table-responsive">
    <h2>Confirmed Meetings</h2>
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
              <th>Address</th>
              <th>Time</th>
              <th>Subject</th>
              <th>Created By</th>
              <th>Attendees</th>
              <th></th>
              <% if user_signed_in? %>
                <th></th>
                <th></th>
              <% end %>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @meetings) do |meeting| %>
          <% if meeting.confirm == true && Meeting.all.count != 0 %>
              <td><%= meeting.address %></td>
              <td><%= meeting.time.to_s(:short) %></td>
              <td><%= meeting.subject %></td>
              <td><%= link_to meeting.usermeetings.find_by_owner(true).user.username, pages_profile_path(username: meeting.usermeetings.find_by_owner(true).user.username) %></td>
              <td> <%= meeting.usermeetings.count %> </td>
              <td><%= link_to 'Show', meeting %></td>
              <% if user_signed_in? && current_user.email == meeting.usermeetings.find_by_owner(true).user.email %>
                <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
                <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
          <% end %>
        <% end %>
        </tbody>
    </table>
  </div>
<<<<<<< HEAD
</div> -->


<br>

<div style='width: 100%;'>
  <div id="map" style='width: 100%; height: 400px; color: black;'></div>
</div>


<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}},
  function(){
    navigator.geolocation.getCurrentPosition(function(position){
      new_marker = {"lat":position.coords.latitude,"lng":position.coords.longitude,"infowindow":"Your Location", "picture": {
          "url": "http://maps.google.com/mapfiles/ms/icons/green-dot.png",
          "width":  32,
          "height": 32
        }};
      temp = <%=raw @hash.to_json %>
      temp.push(new_marker)
      markers = handler.addMarkers(temp);
      // handler.map.centerOn(markers[temp.length-1]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(4);
    });
  });
</script>



<br></br>
