<div id="boo">
  <div class="page-header">
    <%= link_to meetings_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Meeting List
    <% end %>
    <!-- sign in user can see join and edit -->
    <% if user_signed_in? %>
    <!--not the owner can see join, already join cannot see join -->
      <% if current_user.email != @meeting.usermeetings.find_by_owner(true).user.email %>
        <% if @meeting.usermeetings.find_by_user_id(current_user.id).nil? %>
          <!-- < % = link_to meeting_join_meeting_path(@meeting), class: 'btn btn-primary', method: :post do %> -->
          <%= link_to new_meeting_post_path(@meeting), class: 'btn btn-primary' do %>

            <span class="glyphicon glyphicon-pencil"></span>
            Join
          <% end %>
        <% else %>
        <%= link_to new_meeting_post_path(@meeting), class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-pencil"></span>
            Unjoin
        <% end %>
        <% end %>
      <% else %>
        <%= link_to edit_meeting_path(@meeting), class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
        <% end %>
      <% end %>
    <% end %>
    <br><h1>Show meeting</h1>
  </div>

  <dl class="dl-horizontal">
    <dt>Address:</dt>
    <dd><%= @meeting.address %></dd>

    <dt>Subject:</dt>
    <dd><%= @meeting.subject %></dd>

    <dt>Time:</dt>
    <dd><%= @meeting.time.to_s(:short) %></dd>

    <dt>Created By:</dt>
    <dd><%= @meeting.usermeetings.find_by_owner(true).user.email%></dd>

    <dt>Attendees:</dt>
    <% @meeting.usermeetings.each do |meeting| %>
      <dd><%= meeting.user.email %></dd>
    <% end %>
    <br/>
    <% if !@post.nil? %>
      <dt>Post:</dt>
      <% @post.each do |post| %>
        <dd><%= User.find(post.user_id).email + "(#{post.updated_at.to_s(:short)}): " + post.description %></dd>
      <% end %>
    <% end %>

  </dl>
</div>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(18);
});
</script>

</br>
