<div class="page-header">
  <%= link_to meetings_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if user_signed_in? %>
    <%= link_to edit_meeting_path(@meeting), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <h1>Show meeting</h1>
</div>

<dl class="dl-horizontal">
  <dt>Address:</dt>
  <dd><%= @meeting.address %></dd>

  <dt>Time:</dt>
  <dd><%= @meeting.time %></dd>

  <dt>Subject:</dt>
  <dd><%= @meeting.subject %></dd>

  <dt>Confirm:</dt>
  <dd><%= @meeting.confirm %></dd>

  <dt>Email Address</dt>

</dl>
