<form action="/search" method="get">
  <input required id="profile_search" type='text' name="q" placeholder="Find a Place to Meet" autofocus/>
  <input id: 'q' type="submit" value="search"/>
</form>

<div id="boo">


        <div class="table-responsive">
          <h2><%= params[:username] %> </h2>

          <table class="table table-striped table-hover">
            <thead>
              <tr>
                    <th>Address</th>
                    <th>Subject</th>
                    <th>Time</th>
                    <th>Attendees</th>
                    <th></th>
                    <% if user_signed_in? %>
                      <th></th>
                      <th></th>
                    <% end %>
              </tr>
            </thead>



            <tbody>
              <%= content_tag_for(:tr, @meetings) do |meeting| %>
                <% if Meeting.all.count != 0 && user_signed_in? %>
                    <td><%= meeting.address %></td>
                    <td><%= meeting.subject %></td>
                    <td><%= meeting.time.to_s(:short) %></td>
                    <td> <%= meeting.usermeetings.count %> </td>
                    <td><%= link_to 'Show', meeting %></td>
                    <% if user_signed_in? && meeting.usermeetings.find_by_owner(true).user.username == current_user.username %>
                      <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
                      <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% end %>
                <% end %>
              <% end %>
            </tbody>

          </table>

        </div>

</div>

<div id="boo">
  <div class="table-responsive">
    <h2>Saved Searches</h2>
    <%= link_to searches_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon"></span>
      Manage Keywords
    <% end %>
    <ul>
      <% if !@keywords.empty? %>
        <% @keywords.each do |word| %>
        <!-- make our own link to go to search page because search feature manually created and it did not have path helper -->
          <% search_link = '/search?q=' + word.keyword %>
           <li> <%= link_to word.keyword, search_link %> </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
