
<div class="container">
	<div class="row">
		<div class="col-lg-7">
			<h2>About <%= params[:username].capitalize %></h2>
			<%= link_to edit_user_registration_path, class: 'btn btn-primary' do %>
	      <span id= "manage" class="glyphicon glyphicon"></span>
	      Manage Profile
	    <% end %>
			<div id="aboutme">
				<p> <span>About Me:</span> <%= @user.aboutme %></p>
				<p> <span>Location:</span> <%= @user.location %></p>
				<p> <span>Gender:</span> <%= @user.gender %></p>
				<p> <span>Strengths:</span> <%= @user.strength %></p>
				<p> <span>Weaknesses:</span> <%= @user.weakness %></p>
				<p> <span>Interests:</span> <%= @user.interests %></p>
				<p> <span>Home Page:</span> <%= @user.home_page_url %></p>
			</div>
		</div>
		<div class="col-lg-4 col-lg-offset-1">
			<div id="profile_pic"><% if current_user %>
					<%= image_tag(current_user.avatar(:medium), class: "foundation_or_bootstrap_class") %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<br>

<div class="container search-container">
	<div class="row">
		<div class="col-lg-4">
			<h2>Search Meetings</h2>
			<form action="/search" method="get">
			  <input required id="profile_search" type='text' name="q" placeholder="Find a Place to Meet" autofocus/>
			  <input id: 'q' type="submit" value="search" class="btn btn-primary"/>
			</form>
		</div>
		<div class="col-lg-8">
    <h2>Saved Searches</h2>
    <%= link_to searches_path, class: 'btn btn-primary' do %>
      Manage Keywords
    <% end %>
      <% if !@keywords.empty? %>
        <% @keywords.each do |word| %>
        <!-- make our own link to go to search page because search feature manually created and it did not have path helper -->
          <% search_link = '/search?q=' + word.keyword %>
          <span> <%= link_to word.keyword.capitalize, search_link %> </span>
        <% end %>
      <% end %>
		</div>
	</div>
</div>

<!-- grid layout for user meetings -->
<div class="wrapper">
  <header>Welcome <%= current_user.username %>! Here are your upcoming meetings.
      <span class="tableicons"><a href="javascript:void(0)" class="show-list"><i class="fa fa-th-list"></i></a>
        <a href="javascript:void(0)" class="hide-list"><i class="fa fa-th"></i></a></span>
    </header>

		<div class="container">
		  <% @meetings.each do |meeting| %>
		  <% if Meeting.all.count != 0 && user_signed_in? %>

		  <div class="box">

		    <div class="recipe">

		      <div class="image">
		        <%= link_to image_tag(meeting.image(:medium)), meeting %>

		        <div class="likes">
		        <% if user_signed_in? %>
		        <!--not the owner can see join, already join cannot see join -->
							<% if user_signed_in? && current_user.email == meeting.usermeetings.find_by_owner(true).user.email %>
								<%= link_to '<i class="fa fa fa-trash lv" data-test="pulse"></i>'.html_safe, meeting, method: :delete, data: { confirm: 'Are you sure?' } %>
							<% else %>
			          <% if current_user.email != meeting.usermeetings.find_by_owner(true).user.email %>
			            <% if meeting.usermeetings.find_by_user_id(current_user.id).nil? %>
			              <!-- < % = link_to meeting_join_meeting_path(@meeting), class: 'btn btn-primary', method: :post do %> -->
			              <%= link_to new_meeting_post_path(meeting) do %>

			                <i class="fa fa fa-plus lv" data-test="pulse"></i>
			              <% end %>
			            <% elsif %>
			            <%= link_to new_meeting_post_path(meeting) do %>
			                <i class="fa fa fa-minus lv" data-test="pulse"></i>
			            <% end %>
			            <% end %>
								<% end %>
			        <% end %>
		        <% end %>
		        </div>
		      <div class="name">
		        <h3><%= meeting.address %></h3>
		      </div>

		      </div>

		      <ul class="media">
		        <li><i class="fa fa-clock-o"></i><%= meeting.time.to_s(:short) %></li>
		        <li><i class="fa fa-book"></i><%= meeting.subject %></li>
		        <li><i class="fa fa-users"></i><%= meeting.usermeetings.count %></li>

		        <% if user_signed_in? && current_user.email == meeting.usermeetings.find_by_owner(true).user.email %>
		          <p><i class="fa fa-pencil"></i> <%= link_to 'Edit', edit_meeting_path(meeting) %></p>
		          <p><i class="fa fa-trash"></i> <%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></p>
		        <% end %>
		      </ul>
		    </div>
		    <div class="meeting-info">
		      <p>Created by: <%= meeting.usermeetings.find_by_owner(true).user.username %></p>
		      <% post = Post.where(meeting: meeting.id) %>
		      <% post.each do |post_info| %>
		        <dd><%= User.find(post_info.user_id).username + "(#{post_info.updated_at.to_s(:short)}): " + post_info.description %></dd>
		      <% end %>
		    </div>

		  </div>

		  <% end %>
		  <% end %>
		</div>

</div>

<!-- end of user meeting grid layout  -->


<!-- scripts were not working in JS file, so we added it here.  -->
<script>
  $('.meeting-info').hide();
  $('.show-list').click(function(){
    $('.meeting-info').fadeIn(3000).show(0);
  	$('.wrapper').addClass('list-mode');


  });

  $('.hide-list').click(function(){
    $('.meeting-info').hide(0);
  	$('.wrapper').removeClass('list-mode');
  });

</script>
