
<div class="container">
	<div class="row">

		<div class="col-lg-6">
			<div id="aboutme"><p> Hello, My name is Isaac and I love caffiene and cigarettes. Please study with me.
			</p>
			</div>
		</div>

		<div class="col-lg-6">
			<div id="profile_pic"><% if current_user %>
					<%= image_tag(current_user.avatar(:large), class: "foundation_or_bootstrap_class") %>
				<% end %>
			</div>
		</div>

	</div>
</div>
<br>
<form action="/search" method="get">
  <input required id="profile_search" type='text' name="q" placeholder="Find a Place to Meet" autofocus/>
  <input id: 'q' type="submit" value="search"/>
</form>


<!-- grid layout for user meetings -->
<div class="wrapper">
  <header>Welcome <%= current_user.username %>! Here are your upcoming meetings.
      <span class="tableicons"><a href="javascript:void(0)" class="show-list"><i class="fa fa-th-list"></i></a>
        <a href="javascript:void(0)" class="hide-list"><i class="fa fa-th"></i></a></span>
    </header>

    <div class="container">
      <% @meetings.each do |meeting| %>
			<% if Meeting.all.count != 0 && user_signed_in? %>
          <div class="box">
            <p><%= meeting.address %></p>
            <p><%= meeting.time.to_s(:short) %></p>
            <p><%= meeting.subject %></p>
						<p>Attendees: <%= meeting.usermeetings.count %></p>
            <p><i class="fa fa-coffee"></i> <%= link_to 'Show', meeting %></p>
						<% if user_signed_in? && meeting.usermeetings.first.owner == true %>
							<p><%= link_to 'Edit', edit_meeting_path(meeting) %></p>
							<p><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            <% end %>
          </div>
				<% end %>
			<% end %>
		</div>
</div>

<!-- end of user meeting grid layout  -->



<div id="boo">
  <div class="table-responsive">
    <h2>Saved Searches</h2>
    <ul>
      <% if !@keywords.empty? %>
        <% @keywords.each do |word| %>
        <!-- make our own link to go to search page because search feature manually created and it did not have path helper -->
          <% search_link = '/search?q=' + word.keyword %>
           <li> <%= link_to word.keyword, search_link %> </li>

        <% end %>
      <% end %>
    </div>
</div>



<!-- scripts were not working in JS file, so we added it here.  -->
<script>
  $('.show-list').click(function(){
  	$('.wrapper').addClass('list-mode');
  });

  $('.hide-list').click(function(){
  	$('.wrapper').removeClass('list-mode');
  });

</script>
