<form action="/search" method="get">
  <input required id="" type='text' name="q" placeholder="Find a Place to Meet" autofocus/>
  <input id: 'q' type="submit" name="commit" value="search"/>
</form>

<div id="boo">


        <div class="table-responsive">
          <h2><%= current_user.email %> </h2>


          <table class="table table-striped table-hover">
            <thead>
              <tr>
                    <th>Address</th>
                    <th>Subject</th>
                    <th>Time</th>
                    <th></th>
                    <% if user_signed_in? %>
                      <th></th>
                      <th></th>
                    <% end %>
              </tr>
            </thead>

            <tbody>
              <%= content_tag_for(:tr, @meetings) do |meeting| %>
                <% if Meeting.all.count != 0 && user_signed_in? && @user == meeting.users.first.email %>
                    <td><%= meeting.address %></td>
                    <td><%= meeting.subject %></td>
                    <td><%= meeting.time %></td>

                    <td><%= link_to 'Show', meeting %></td>
                    <% if user_signed_in? && current_user.email == meeting.users.first.email %>
                      <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
                      <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>

</div>

<div id="boo">
  <div class="table-responsive">
    <h2>Saved Searches</h2>
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
              <th>Address</th>
              <th>Time</th>
              <th>Subject</th>
              <th>User</th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @searches) do |meeting| %>
          <% if Meeting.all.count != 0 %>
              <td><%= meeting.address %></td>
              <td><%= meeting.time %></td>
              <td><%= meeting.subject %></td>
              <td><%= link_to 'Show', meeting %></td>
              <% if user_signed_in? && current_user.email == meeting.users.first.email %>
                <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
                <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
          <% end %>
        <% end %>
        </tbody>
    </table>
  </div>
</div>
